{{ open_form({
     'method': 'post',
     'data-ajax-handler': 'shop:onUpdateCustomer',
     'data-abide': null,
     'novalidate': null
   })
}}

{{ flash() }}
<input type="hidden" name="redirect" value="/account/profile">
<section id="customer-detail" class="account-billing-address grid-x grid-padding-x">
  <input type="hidden" name="address[id]" value="{{ address.id }}">
  <label class="cell medium-6">
    First Name*
    <input
    		class="form-control"
        type="text"
        name="first_name"
        value="{{ customer.first_name }}"
        required>
        <span class="error small text-danger form-error">First name is required.</span>
  </label>
  <label class="cell medium-6">
    Last Name*
    <input
    		class="form-control"
        type="text"
        name="last_name"
        value="{{ customer.last_name }}"
        required>
        <span class="error small text-danger form-error">First name is required.</span>
  </label>
  <label class="cell">
    Email*
    <input
    		class="form-control"
        type="email"
        name="email"
        value="{{ customer.email }}"
        required>
        <span class="error small text-danger form-error">First name is required.</span>
  </label>
</section>
<button type="submit" class="btn btn-outline-dark">
  Save Profile Information
</button>
{{ close_form() }}