
.subscription_pause p,
.subscriiption_activate p,
.subscription_cancel p {
	display: none;
}

.subscription_pause,
.subscription_activate,
.subscription_cancel {
	padding: 0.375rem 0.75rem;
	text-transform: uppercase;
	margin: 0 10px 0 0;
	display: inline;
}

.subscription_pause {
	background: #cbcbcb;
	color: #212121;
	border: 1px solid #c9c7c7;
}

.subscription_pause:hover {
	background: #c9c7c7;
}

.subscription_activate {
	color: #fff;
	background-color: #58c358;
	border: 1px solid #53b853;
}

.subscription_activate:hover {
	color: #fff;
	background-color: #53b853;
}

.subscription_cancel {
	color: #f81111;
	text-transform: capitalize;
	display: inline;
	border: none;
	font-size: 14px;
}

.subscription_cancel:hover,
.subscription_cancel:focus {
	color: #ce1111;
	border: none;
}

.subscription_status_block {
	margin-bottom: 40px;
}

.subscription_status_block h6 {
	margin: 0px 0 30px 0;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
}

.subscription_status_block.active h6 span {
	color: #28a745;
}

.subscription_status_block.paused h6 span {
	color: #494c50;
}

.subscription_status_block.cancelled h6 span {
	color: #f81111;
}