---
action: 'shop:order'
template: master
protocol: all
published: true
name: 'Order Details'
url: '/account/order/:orderId'
---

{{ partial('page-header', {
    'background': theme.defaultBanner,
    'title': page.title
}) }}

<div id="content" class="block block-gray">
    <div class="block-content">
        <div class="container">
            <div class="row">

                <div class="col-lg-3">
                    {{ partial('account-sidebar', { active: 'orders' }) }}
                </div>

                <div class="col-lg-9">

                    {{ partial('flash') }}

                    <div class="card">
                        <div class="card-body">

                            {% for invoice in order.invoices %}
                                {{ partial('shop-invoice-items', { 'invoice': invoice }) }}
                                {{ partial('shop-invoice-totals', { 'invoice': invoice }) }}

                                <hr>
                                <footer class="row">

                                    <div class="active {{ order.orderStatus.name }} col-lg-4">
                                        <small>
                                            <strong {% if order.orderStatus.color %}style="color: {{ order.orderStatus.color }}"{% endif %}>
                                                {{ order.orderStatus.name | upper }}
                                            </strong>
                                        </small>
                                    </div>

                                    {% set shippingCodes = order.outputTrackingCodes() %}
                                    <div class="col-lg-4  text-center">
                                        {% if shippingCodes %}
                                            <small>Shipping code: <code>{{ shippingCodes }}</code></small>
                                        {% endif %}
                                    </div>

                                    <div class="col-lg-4 text-right">
                                        <small>{{ order.status_updated_at|date("m/d/Y") }}</small>
                                    </div>
                                </footer>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>