#header.header-transparent:not(.header-sticky), #header-sticky-wrapper.header-sticky-wrapper-transparent {
    margin-bottom: -5rem;
}

#header {
    padding-bottom: 0.625rem;
    padding-top: 0.625rem;
    position: relative;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#header:not(.header-sticky).header-transparent .main-nav ul li a, #header-sticky-wrapper:not(.is-sticky) #header.header-transparent .main-nav ul li a {
    color: #ffffff;
}

.main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.main-nav ul li {
    display: inline-block;
}
  
.main-nav ul li a {
    padding: .5rem .75rem;
    color: #000;
    display: block;
}


#offcanvas-bar .offcanvas-bar-content nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


#offcanvas-bar .offcanvas-bar-content nav ul li {
    display: block;
}

#offcanvas-bar .offcanvas-bar-content nav ul li:nth-child(n+2) {
    border-top: 1px solid #eeeeee;
}

#offcanvas-bar .offcanvas-bar-content nav ul li a {
    display: block;
    font-size: 1.125rem;
    padding: 1.25rem;
    position: relative;
    text-transform: uppercase;
}

#offcanvas-bar .offcanvas-bar-content nav ul li a::after {
    content: '\F054';
    font-family: "FontAwesome";
    font-size: 0.75rem;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}