---
action: 'shop:customerProfile'
description: 'Allows a logged in user to edit their account.'
template: master
protocol: all
published: true
name: 'Account Settings'
url: /account
---

{{ partial('page-header', {
    'background': theme.defaultBanner,
    'title': page.title
}) }}

<div id="content" class="block block-gray">
    <div class="block-content">
        <div class="container">
            <div class="row">
			  <header>
			    <h1>Account</h1>
			  </header>
			  {% if customer %}
			    <div class="account-settings-addresses">
			    {% if customer.hasBillingAddresses() and customer.hasShippingAddresses() %}
			        <header>
			            <h4 class="card-title">Customer Info</h4>
			        </header>

			        <div class="grid-x grid-padding-x">
			            <div class="cell">
			                {{
			                    partial('customer-details', {
			                        'customer' : customer
			                    })
			                }}
			            </div>
			        </div>
			        <hr>
			        {{
			            partial('account-address-selectors', {
			                'customer' : customer
			            })
			        }}
			    {% else %}
			        {{
			            partial('account-settings-addresses', {
			                'customer': customer,
			                'countries': countries
			            })
			        }}
			    {% endif %}
			    </div>
			    <div class="account-settings-password">
			        {{ partial('account-settings-password') }}
			    </div>
			  {% else %}
			    You must be logged in to use this page.
			  {% endif %}	
			</div>
		</div>
	</div>
</div>